/*********************************************
 * GLOBAL STYLES
 *********************************************/

.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.full {
    width:100%;
    height:100%;
}


.scrollable {
    bottom: 0px;
    overflow-y: auto  !important;
    overflow-x: hidden !important;
}

.nopad {
    margin: 0
}


.credit {
    font-size: 0.6em;
    position: relative;
    display: block;
    text-align: right;
}

.reveal img {
    vertical-align: middle;
    max-width: 100%;
}

figure {
    display: table;  /* ADD Me */
    margin: 0 auto;  /* ADD Me */
    padding: 10px 10px;
}

figcaption {
    font-size: 0.5em;
    padding-bottom: 0.5em;
    display: block;
}

.reveal blockquote { 
    width: 95%;
    margin-bottom: 5px;
}
